---
layout: default
---
<div class="post-container">

  <article class="post-article">
    <header class="post-header">
      <div class="post-meta">
        <span>{{ page.source_file }}</span>
        <span>{{ page.date | date: "%Y-%m-%d" }}</span>
      </div>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-author">{{ page.author }}</p>
    </header>

    <section class="post-content">
      {{ content }}
    </section>

    <footer class="post-footer">
      <span>1/1</span>
    </footer>
  </article>

</div>